<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/shahzad-hussain-57672725b/"  target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/shahzadhussain_1/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://web.facebook.com/profile.php?id=100089134721109" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        </div>
        <div class="f-info-brand">&copy; Wonderlust Private Limited</div>
        <div>Made with 💖 by Shahzad</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>